# These environment vars are shared across all services.

# User/pass/db for the postgresql db.  Used by db and web services.
DB_PASSWORD=********
DB_USER=some_db_user_name
DB_NAME=some_database_name
DB_HOST=localhost
DB_PORT=5432

DJANGO_SECRET_KEY="put some secret value here"
