# These environment vars are shared across all services.

# User/pass/db for the postgresql db.  Used by db and web services.
DB_PASSWORD=********
DB_USER=some_db_user_name
DB_NAME=some_database_name
DB_HOST=localhost
DB_PORT=5432

DJANGO_SECRET_KEY="put some secret value here"

INITIAL_ADMIN_USER=some_user
INITIAL_ADMIN_EMAIL=some_user@example.com
INITIAL_ADMIN_PASSWORD=********
