{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Conversions{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "conversion/css/conversion-grid.css" %}">
<style>
.header {
    font-weight: bold;
    background-color: lightgrey;
}
</style>
{% endblock %}

{% block content %}
<div>
    <a href="{% url "conversion:measure_create" %}">Add Measure</a>
</div>

<div class="conversions">
    <div class="conversion header">
        <div class="conversion-item">Item</div>
        <div class="conversion-from-unit">From</div>
        <div class="conversion-to-unit">To</div>
        <div class="conversion-min">Min</div>
        <div class="conversion-avg">Avg</div>
        <div class="conversion-max">Max</div>
        <div class="conversion-count">Count</div>
        <div class="conversion-first-date">First Date</div>
        <div class="conversion-last-date">Last Date</div>
    </div>
{% for conversion in conversions %}
    <div class="conversion">
        <div class="conversion-item">{{ conversion.item_name|title }}</div>
        <div class="conversion-from-unit">{{ conversion.measuring_unit }}</div>
        <div class="conversion-to-unit">{{ conversion.converted_unit }}</div>
        <div class="conversion-min">{{ conversion.min|floatformat:2|intcomma }}</div>
        <div class="conversion-avg">{{ conversion.avg|floatformat:2|intcomma }}</div>
        <div class="conversion-max">{{ conversion.max|floatformat:2|intcomma }}</div>
        <div class="conversion-count">{{ conversion.count|intcomma }}</div>
        <div class="conversion-first-date">{{ conversion.first_date|date:"M j, Y" }}</div>
        <div class="conversion-last-date">{{ conversion.last_date|date:"M j, Y" }}</div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}