{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Conversions{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "conversion/css/conversion-grid.css" %}">
{% endblock %}

{% block content %}
<div class="conversions">
    <div class="conversion">
        <span class="conversion-item">Item</span>
        <span class="conversion-min">Min</span>
        <span class="conversion-avg">Avg</span>
        <span class="conversion-max">Max</span>
        <span class="conversion-count">Count</span>
        <span class="conversion-first-date">First Date</span>
        <span class="conversion-last-date">Last Date</span>
    </div>
{% for conversion in conversions %}
    <div class="conversion">
        <span class="conversion-item">{{ conversion.item_name|title }}</span>
        <span class="conversion-min">{{ conversion.min|floatformat:2|intcomma }}</span>
        <span class="conversion-avg">{{ conversion.avg|floatformat:2|intcomma }}</span>
        <span class="conversion-max">{{ conversion.max|floatformat:2|intcomma }}</span>
        <span class="conversion-count">{{ conversion.count|intcomma }}</span>
        <span class="conversion-first-date">{{ conversion.first_date|date:"M j, Y" }}</span>
        <span class="conversion-last-date">{{ conversion.last_date|date:"M j, Y" }}</span>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}