{% extends "base_with_navpanel.html" %}

{% block title %}Inventory List{% endblock %}

{% block styles %}
    <style type="text/css">
    table {
        border: solid 1px black;
    }
    table tbody tr td {
        border-top: solid 1px black;
    }
    </style>
{% endblock %}

{% block content %}
    <table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Locations</th>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
    {% for item, item_details in inventory.items %}
        <tr>
        <td>{{ item_details.category }}</td>
        <td>{{ item_details.locations }}</td>
        <td>{{ item_details.common_item_name }}</td>
        <td style="text-align: right;">{{ item_details.total_quantity|floatformat }}</td>
        <td style="text-align: right;">$ {{ item_details.total_cost|floatformat:2 }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}