{% extends "base.html" %}
{% load static %}

{% block title %}Usage Report{% endblock %}

{% block content %}
    <div class="container-fluid m-3">
        <div class="row">
            <div class="col-sm-2">Who:</div>
            <div class="col-sm-2">{{ object.who }}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Action Date</div>
            <div class="col-sm-2">{{ object.action_date }}</div>
        </div>
    </div>
    <div class="row row-cols-3">
        <div class="col w-25 text-center"><a class="btn btn-secondary w-75" href="{% url "usage_report_edit" pk=object.id %}" role="button">Edit</a></div>
        <div class="col w-25 text-center"><a class="btn btn-secondary w-75" href="{% url "usage_reports" %}" role="button">Back to list</a></div>

    </div>


{% endblock %}