{% extends "base.html" %}
{% load static %}

{% block title %}Add Usage Report{% endblock %}

{% block styles %}
<style type="text/css">
#formset-table td {
    border: black solid 1px;
}
</style>

{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
    {{ form.non_form_errors }}

    {{ form.as_p }}

    <hr />
    <h3>Items:</h3>
    {{ usageitemformset.management_form }}
<div class="container" id="item-list">
    <table id="formset-table">
    <thead>
        <tr>
            <th>line item</th>
            <th>unit size</th>
            <th>quantity</th>
            <th style="width: 30em;">item</th>
        </tr>
    </thead>
    <tbody>
        <tr class='form-row' id='empty-row' style="display:none;">
            <td>
                {{ usageitemformset.empty_form.line_item_position.errors }}
                {{ usageitemformset.empty_form.line_item_position }}
            </td>
            <td>
                {{ usageitemformset.empty_form.unit_size.errors }}
                {{ usageitemformset.empty_form.unit_size }}
            </td>
            <td>
                {{ usageitemformset.empty_form.quantity.errors }}
                {{ usageitemformset.empty_form.quantity }}
            </td>
            <td>
                {{ usageitemformset.empty_form.item.errors }}
                {{ usageitemformset.empty_form.item }}
            </td>
        </tr>
        {% for usageitem_form in usageitemformset.forms %}

        <tr class="form-row">
            <td>
                <span id="hidden-fields-{{ usageitem_form.instance.id }}">
                    {% for hidden_field in usageitem_form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                </span>
                {{ usageitem_form.line_item_position.errors }}
                {{ usageitem_form.line_item_position }}
            </td>
            <td>
                {{ usageitem_form.unit_size.errors }}
                {{ usageitem_form.unit_size }}
            </td>
            <td>
                {{ usageitem_form.quantity.errors }}
                {{ usageitem_form.quantity }}
            </td>
            <td>
                {{ usageitem_form.item.errors }}
                {{ usageitem_form.item }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
<div style="display: none;" name="template-container">
    <li id="dropdown-item-template">
        <a class='dropdown-item' data-id="nope">
        <div class="row row-cols-4">
            <div class="col-sm-1 border" name="quantity">__current_quantity__</div>
            <div class="col-sm-2 border" name="unit_sizes">__unit_size__</div>
            <div class="col-sm-2 border" name="category">__created__</div>
            <div class="col-lg-5 border" name="name">__common_item__</div>
        </div>
        </a>
    </li>
</div>
</div>
    <hr />

    <div class="row row-cols-3">
        <div class="col w-25 text-center">
            <button class="btn btn-primary w-75" type="submit">
                {% if object %}Update{% else %}Create{% endif %}
            </button>
        </div>
        <div class="col w-25 text-center">
            <a class="btn btn-secondary w-75" href="{% if object %}{% url "usage_report" pk=object.id %}{% else %}{% url "usage_reports" %}{% endif %}" role="button">Cancel</a>
        </div>
        <div class="col w-25 text-center"><a class='btn btn-info add-new-form w-75' href='#'>+ Add new item</a></div>
    </div>
</form>
<pre id="jquery-example-2-log">
hello
</pre>
{% endblock %}

{% block body_scripts %}
<script src="{% static 'add_new_form.js' %}"></script>
<script src="{% static 'autocomplete.js' %}"></script>
<link href="{% static 'css/autocomplete.css' %}" rel="stylesheet">

<script type="text/javascript">
$( document ).ready(function() {
    {# TODO: make an autocomplete url for inventory items instead of incoming items. #}
    autocomplete_url = "{% url 'inv_autocomplete_commonitem' %}";
    after_add_focus_suffix = "-unit_size";
    autocomplete_fields = ["quantity", "unit_sizes", "category", "name"];
    autocomplete_display_field = "name";
    autocomplete_copy_values = {
        {# "column in autocomplete list": "form field name" #}
        {# "unit_size": "unit_size", #}
    }
})
</script>
{% endblock %}

