{% extends "base.html" %}
{% load humanize %}

{% block title %}Order List{% endblock %}

{% block styles %}
<style>

</style>
{% endblock %}

{% block content %}
    <ul>
    <li><a href="{% url "inventory:rawincomingorder_list" %}?reset">reset filters</a></li>
    </ul>
    <table class="datatable datatable-link" id="order-list">
    <thead>
    <tr>
        <th>source</th>
        <th>department</th>
        <th class="right-align">customer number</th>
        <th class="right-align">order number</th>
        <th>po text</th>
        <th>order comment</th>
        <th class="right-align">order date</th>
        <th class="right-align">delivery date</th>
        <th class="right-align">total price</th>
        <th class="right-align">total packs</th>
        <th class="right-align">item count</th>
    </tr>
    </thead>
    <tbody>
    {% for order in object_list %}
        <tr class="{% cycle 'datatable-odd-row' 'datatable-even-row' as row_class %}" data-detail-url="{% url "inventory:rawincomingorder_detail" pk=order.item_ids.0 %}">
            <td>{{ order.source }}</td>
            <td>{{ order.department }}</td>
            <td class="right-align">{{ order.customer_number }}</td>
            <td class="right-align">{{ order.order_number }}</td>
            <td>{{ order.po_text }}</td>
            <td>{{ order.order_comment }}</td>
            <td class="right-align">{{ order.order_date|default_if_none:"" }}</td>
            <td class="right-align">{{ order.delivery_date }}</td>
            <td class="right-align dollar-cell">{{ order.total_price|intcomma|floatformat:2 }}</td>
            <td class="right-align">{{ order.total_packs|intcomma|floatformat }}</td>
            <td class="right-align">{{ order.item_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
// Get the table that contains all we want to work with.
var el = document.getElementById('order-list');
// Link all of the other cells in a row to take the user to the detail page.
var link_trs = el.querySelectorAll('[data-detail-url]');
for (var ltd_i=0, ltd_len=link_trs.length; ltd_i<ltd_len; ltd_i++) {
    link_trs[ltd_i].onclick = function() {
        window.location = this.attributes["data-detail-url"].value;
    }
}
</script>
{% endblock %}
