{% extends "base.html" %}

{% block title %}Raw Order{% endblock %}

{% block content %}
<p>source = {{ object.source }}</p>
<p>department = {{ object.department }}</p>
<p>customer_number = {{ object.customer_number }}</p>
<p>order_number = {{ object.order_number }}</p>
<p>po_text = {{ object.po_text }}</p>
<p>order_comment = {{ object.order_comment }}</p>
<p>order_date = {{ object.order_date }}</p>
<p>delivery_date = {{ object.delivery_date }}</p>
<p>total_price = {{ object.total_price }}</p>
<p>total_packs = {{ object.total_packs }}</p>

<table class="datatable">
    <thead>
        <tr>
            <th>line_item_position</th>
            <th>category</th>
            <th>name</th>
            <th>ordered_quantity</th>
            <th>delivered_quantity</th>
            <th>item_code</th>
            <th>extra_code</th>
            <th>unit_size</th>
            <th>total_weight</th>
            <th>pack_quantity</th>
            <th>pack_price</th>
            <th>pack_tax</th>
            <th>extended_price</th>
            <th>item_comment</th>
            <th>scanned_image_filename</th>
            <th>state</th>
        </tr>
    </thead>
    <tbody>
    {% for item in object.items %}
        <tr class="{% cycle 'datatable-odd-row' 'datatable-even-row' as row_class %}">
            <td>{{ item.line_item_position }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.ordered_quantity }}</td>
            <td>{{ item.delivered_quantity }}</td>
            <td>{{ item.item_code }}</td>
            <td>{{ item.extra_code }}</td>
            <td>{{ item.unit_size }}</td>
            <td>{{ item.total_weight }}</td>
            <td>{{ item.pack_quantity }}</td>
            <td>{{ item.pack_price }}</td>
            <td>{{ item.pack_tax }}</td>
            <td>{{ item.extended_price }}</td>
            <td>{{ item.item_comment }}</td>
            <td>{{ item.scanned_image_filename }}</td>
            <td>{{ item.state.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li><a href="{% url "inventory:rawincomingorder_list" %}">Back to listing</a></li>
</ul>

{% endblock %}
