{% extends "base.html" %}

{% block title %}Delete Item {{ object.name }}{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object.name }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm">
    <ul>
        <li><a href="{% url "inventory:rawincomingitem_detail" pk=object.id %}">Back to Item Detail</a></li>
        <li><a href="{% url "inventory:rawincomingitem_list" %}">Back to Item List</a></li>
    </ul>
</form>
{% endblock %}
