{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Item in stock{% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" id="inventory-detail">
    <div>
        <a href="{% url "inventory:item_in_stock_list" %}">Back to inventory list</a>
    </div>
<form method="post">
{% csrf_token %}
<div>
    <label for="description">Description (who)</label>
    <input type="text" maxlength="1024" name="description">
</div>
<div>
    <label for="when">When the usage happened</label>
    <input type="date" name="when">
</div>
<div>
    <label for="comment">Anything special about this usage as a whole?</label>
    <input type="text" maxlength="1024" name="comment">
</div>
<table class="datatable">
    <thead>
    <tr>
        <th>Category</th>
        <th>Source</th>
        <th class="right-align">Delivery Date</th>
        <th>Common Item Name</th>
        <th>Name</th>
        <th class="right-align">Unit Size</th>
        <th class="right-align">Use Count</th>
        <th class="right-align">Use Price</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody id="usage-cart-table-body">
    {% for item in used_items %}
        <tr data-detail-url="{% url "inventory:item_in_stock_detail" pk=item.common_item_name_group_id %}" data-id="{{ item.id }}">
            <td class="filtered-item-link">{{ item.category }}</td>
            <td class="filtered-item-link">{{ item.source }}</td>
            <td class="filtered-item-link right-align">{{ item.delivery_date }}</td>
            <td class="filtered-item-link">{{ item.common_item_name }}</td>
            <td class="filtered-item-link">{{ item.name }}</td>
            <td class="filtered-item-link right-align">{{ item.unit_size }}</td>
            <td class="filtered-item-link right-align">{{ item.use_count }}</td>
            <td class="filtered-item-link right-align dollar-cell">{{ item.use_price|floatformat:2|intcomma }}</td>
            <td><input type="text" maxlength="1024" name="item-comment-{{ item.id }}"></td>
        </tr>
    {% endfor %}
{#  "id": "1ccca472-33b4-436a-bf48-cdd06b02ae6a",#}
{#  "category": "canned & dry",#}
{#  "common_item_name": "angel food cake mix",#}
{#  "delivered_quantity": 1.0,#}
{#  "delivery_date": "2021-01-14",#}
{#  "name": "bkrscls mix cake angel food complt",#}
{#  "pack_quantity": 12.0,#}
{#  "source": "sysco",#}
{#  "unit_size": "15oz",#}
{#  "created": "2022-03-24T11:58:45.025497-06:00",#}
{#  "modified": "2022-03-24T11:58:45.025502-06:00",#}
{#  "original_unit_quantity": "12.0000",#}
{#  "remaining_unit_quantity": "12.0000",#}
{#  "raw_incoming_item": "8edfc9aa-217f-4f87-ac38-d7fea55cee0b",#}
{#  "use_count": 2#}
    </tbody>
</table>
    <input type="submit">
</form>

{% if used_items|length > 0 %}
    <div>
    <a id="empty-cart">Empty Cart</a>
    </div>
{% endif %}

    <pre id="on-page-log">
    Log
    </pre>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{% static "js/on_page_log.js" %}"></script>
<script src="{% static "js/usage_cart.js" %}"></script>
<script type="text/javascript">
function empty_cart() {
    {#let headers = {};#}
    {#headers['X-CSRFToken'] = csrftoken;#}
    {#data['csrfmiddlewaretoken'] = csrftoken;#}
    var jqxhr = $.post({
        url: "{% url "inventory:api_usage_change" %}",
        dataType: "json",
        data: {empty_cart: true},
        {#headers: headers#}
        // traditional: true
    })
    .done(function(e) {
        //logit("ajax success");
        location.reload();
    })
    .fail(function() {
        logit("ajax fail");
    })
    .always(function() {
    });
}
function used_item_click() {
    let i = $(this);
    let p = i.parent();
    window.location = p.data('detail-url');
}
$( document ).ready(function() {
    $("#usage-cart-table-body").on('click', '.filtered-item-link', used_item_click);
    $("#empty-cart").on("click", empty_cart);
});
</script>
{% endblock %}
