{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Market : Item Pack{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
    Item: {{ item_pack.item }}
</div>
<div>
    Quantity: {{ item_pack.quantity }}
</div>
<div>
    Cost of Materials: ${{ item_pack.material_cost_per_pack|floatformat:2|intcomma }}
</div>

<div>
    <a href="{% url "market:item_pack_list" %}">Back to list</a>
</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}