{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Market : Order{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
    Who: {{ order.who }}
</div>
<div>
    Ordered: {{ order.date_ordered }}
</div>
{% if order.can_be_made %}
    <div>
        <form action="{% url "market:order_modify" pk=order.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="modify-action" value="made">
            <input type="submit" value="Mark Order as Made" />
        </form>
    </div>
{% else %}
    <div>
        Made: {{ order.date_made }}
    </div>
    {% if order.can_be_picked_up %}
        <div>
            <form action="{% url "market:order_modify" pk=order.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="modify-action" value="picked-up">
                <input type="submit" value="Mark Order as Picked Up" />
            </form>
        </div>
    {% else %}
        <div>
            Picked Up: {{ order.pickup_date }}
        </div>
    {% endif %}
{% endif %}
<div>
<ul>
{% for order_line_item in order.line_items.all %}
    <li>${{ order_line_item.sale_price|floatformat:2|intcomma }}, ${{ order_line_item.material_cost|floatformat:2|intcomma }}, {{ order_line_item }} at
        ${{ order_line_item.sale_price_per_pack|floatformat:2|intcomma }} per {{ order_line_item.item_pack.quantity_str }}</li>
{% endfor %}
</ul>
<a href="{% url "market:order_line_item_edit" pk=order.pk %}">Add/Remove Line Items</a>
<div>
    Total Sale: ${{ order.sale_price|floatformat:2|intcomma }}
<div>
</div>
    Total Material Cost: ${{ order.material_cost|floatformat:2|intcomma }}
</div>
<div>
    <a href="{% url "market:order_printable_invoice" pk=order.pk %}">Printable Invoice</a>
</div>
</div>
<div>
    <a href="{% url "market:order_list" %}">Back to list</a>
</div>

{% endblock %}

{% block body_scripts %}
{% endblock %}