{% extends "base_without_nav.html" %}
{% load static %}

{% block navpanel_css %}
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/collapsible_sidebar.css" %}" rel="stylesheet">
{% endblock %}

{% block navpanel_body %}
{% include "collapsible_sidebar_sidebar.html" %}
{% endblock %}
{% block navpanel_header %}
{% include "collapsible_sidebar_header.html" %}
{% endblock %}

{% block navpanel_js %}
<script src="{% static 'js/collapsible_sidebar.js' %}"></script>
{% endblock %}
