<nav id="sidebar" class="">
    <div class="sidebar-header">
        <h3>Bear Lake Senior Citizen Center Inventory</h3>
    </div>

    <ul class="list-unstyled components">
        <p><a href="{% url "dashboard" %}" class="link-light rounded">Dashboard</a></p>
        <li class="active">
            <a href="#incomingSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Incoming</a>
            <ul class="collapse list-unstyled" id="incomingSubmenu">
                <li><a href="{% url "incoming_groups" %}" class="link-light rounded">Groups (Invoices, etc)</a></li>
                <li><a href="{% url "ex_create" %}" class="link-light rounded">New Group</a></li>
                <li><a href="{% url "incoming_group_item_lookup" %}" class="link-light rounded">Item Lookup</a></li>
                <li><a href="{% url "missing_common_item" %}" class="link-light rounded">Items Missing Common Item</a></li>
                <li><a href="{% url "dupe_item" %}" class="link-light rounded">Dupe Items</a></li>
            </ul>
        </li>
        <li>
            <a href="#inventorySubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inventory</a>
            <ul class="collapse list-unstyled" id="inventorySubmenu">
                <li><a href="{% url "inventory_list" %}" class="link-light rounded">Current Inventory</a></li>
                <li><a href="{% url "locations" %}" class="link-light rounded">Locations</a></li>
                <li><a href="{% url "usage_reports" %}" class="link-light rounded">Usage Reports</a></li>
                <li><a href="{% url "usage_report_add" %}" class="link-light rounded">New Usage Report</a></li>
            </ul>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Some other link</a>
        </li>
        <li>
            <a href="#" class="article">Some link</a>
        </li>
    </ul>
</nav>
