{% extends "base.html" %}
{% load static %}

{% block navpanel_css %}
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/different_collapsible_sidebar.css" %}" rel="stylesheet">
{% endblock %}

{% block navpanel_body %}
{% include "different_collapsible_sidebar.html" %}
{% endblock %}
{% block navpanel_header %}
{% include "different_collapsible_sidebar_header.html" %}
{% endblock %}

{% block navpanel_js %}
<script src="{% static 'js/different_collapsible_sidebar.js' %}"></script>
{% endblock %}
