<tbody>
    <tr>
        <th><label for="id_items-0-item">Item:</label></th>
        <td>
            <select name="items-0-item" id="id_items-0-item">
                <option value="">---------</option>
                <option value="00000000-0000-0000-0000-000000000000">item as str</option>
            </select>
        </td>
    </tr>
    <tr>
        <th><label for="id_items-0-ordered_quantity">Ordered quantity:</label></th>
        <td><input type="number" name="items-0-ordered_quantity" value="" step="0.0001" id="id_items-0-ordered_quantity"></td>
    </tr>
    <tr>
        <th><label for="id_items-0-delivered_quantity">Delivered quantity:</label></th>
        <td><input type="number" name="items-0-delivered_quantity" value="3.0000" step="0.0001" id="id_items-0-delivered_quantity"></td>
    </tr>
    <tr>
        <th><label for="id_items-0-total_weight">Total weight:</label></th>
        <td><input type="number" name="items-0-total_weight" value="0.0000" step="0.0001" id="id_items-0-total_weight"></td>
    </tr>
    <tr>
        <th><label for="id_items-0-pack_price">Pack price:</label></th>
        <td><input type="number" name="items-0-pack_price" value="3.0000" step="0.0001" id="id_items-0-pack_price"></td>
    </tr>
    <tr>
        <th><label for="id_items-0-pack_tax">Pack tax:</label></th>
        <td><input type="number" name="items-0-pack_tax" value="0.0000" step="0.0001" id="id_items-0-pack_tax"></td>
    </tr>
    <tr>
        <th><label for="id_items-0-line_item_position">Position:</label></th>
        <td><input type="number" name="items-0-line_item_position" value="3" min="0" id="id_items-0-line_item_position"></td>
    </tr>
    <tr>
        <th><label for="id_items-0-comment">Anything noteworthy about this item:</label></th>
        <td><input type="text" name="items-0-comment" value="pos 3" maxlength="1024" id="id_items-0-comment"></td>
    </tr>
    <tr>
        <th><label for="id_items-0-DELETE">Delete:</label></th>
        <td>
            <input type="checkbox" name="items-0-DELETE" id="id_items-0-DELETE">
            <input type="hidden" name="items-0-id" value="3da947f9-bfb1-43f2-9c8e-1d823d626216" id="id_items-0-id"><input type="hidden" name="items-0-parent" value="66ab81e8-8623-400e-b38e-e27dddae9301" id="id_items-0-parent">
        </td>
    </tr>
</tbody>