<div class="main-form container">
    <div class="row row-cols-2">
        <div class="col-4">{{ form.source.label_tag }}</div>
        <div class="col-8">
            {{ form.source.errors }}
            {{ form.source }}
        </div>
    </div>

    <div class="row row-cols-2">
        <div class="col-4">{{ form.descriptor.label_tag }}</div>
        <div class="col-8">
            {{ form.descriptor.errors }}
            {{ form.descriptor }}
        </div>
    </div>

    <div class="row row-cols-2">
        <div class="col-4">{{ form.comment.label_tag }}</div>
        <div class="col-8">
            {{ form.comment.errors }}
            {{ form.comment }}
        </div>
    </div>

    <div class="row row-cols-2">
        <div class="col-4">{{ form.action_date.label_tag }}</div>
        <div class="col-8">
            {{ form.action_date.errors }}
            {{ form.action_date }}
        </div>
    </div>
</div>
