<div style="display: none;" name="template-container">
    <li id="autocomplete-source-item-template">
        <a class='dropdown-item' data-id="nope">
        <div class="row row-cols-12">
            <div class="col-sm-2 border" name="source_name">__source_name__</div>
            <div class="col-sm-2 border" name="pack_quantity">__pack_quantity__</div>
            <div class="col-sm-2 border" name="unit_size">__unit_size__</div>
            <div class="col-sm-2 border" name="cryptic_name">__cryptic_name__</div>
            <div class="col-lg-6 border" name="common_name">__common_name__</div>
        </div>
        </a>
    </li>
</div>
