{% extends "base.html" %}
{% load static %}

{% block title %}Price Over Time{% endblock %}

{% block styles %}
<style>
@media only print {
    @page {
        size: portrait;
    }
    body {
        font-size: 0.75em;
    }
    .chart-container {
        display: none;
    }
}
.chart-container {
    height: 40vh;
}
#chart_data {
    display: none;
}
.chart-data-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas: "a a a a";

}
#row-template {
    display: none;
}
.chart-data-header {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.chart-data-cell {
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
    border-right: grey 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.chart-data-delivered_date {

}
.chart-data-source-and-item-name {

}
.chart-data-item_name {

}
.chart-data-pack_cost {

}
.chart-data-initial_quantity {

}
.chart-data-per_use_cost {

}
#chart_data_table tr {
    border-bottom: black solid 1px;
}
#table-row-template {
    display: none;
}
</style>
{% endblock %}

{% block content %}
    <label for="canned-report-select">Report: </label>
    <select id="canned-report-select">
        <option data-report-url="" value="">-- Please Select a Report --</option>
        {% for report_name in report_names %}
            <option data-report-url="{% url "inventory:api_sourceitem_chartdata" report_name=report_name.url_slug %}?format=json" value="{{ report_name.url_slug }}">{{ report_name.name }}</option>
        {% endfor %}
    </select>
<div>
    <span id="chart-title">Placeholder</span>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div id="chart_data">
    <div id="row-template" class="chart-data-row chart-data-row-template">
        <div class="chart-data-cell chart-data-delivered_date date-cell" data-field="delivered_date">__delivered_date__</div>
        <div class="chart-data-cell chart-data-source-and-item-name">
            <span data-field="source">__source__</span> / <span data-field="item_name">__item_name__</span> <span data-field="unit_size">__unit_size__</span>
        </div>
        <div class="chart-data-cell chart-data-pack_cost dollar-cell right-align" data-field="pack_cost">__pack_cost__</div>
{#        <div class="chart-data-cell chart-data-initial_quantity right-align" data-field="initial_quantity">__initial_quantity__</div>#}
        <div class="chart-data-cell chart-data-per_use_cost dollar-cell right-align" data-field="per_use_cost">__per_use_cost__</div>
    </div>
    <div class="chart-data-row chart-data-row-header">
        <div class="chart-data-header chart-data-delivered_date right-align" data-field="delivered_date">delivered date</div>
        <div class="chart-data-header chart-data-source-and-item-name">source / item name</div>
        <div class="chart-data-header chart-data-pack_cost right-align" data-field="pack_cost">pack cost</div>
{#        <div class="chart-data-header chart-data-initial_quantity right-align" data-field="initial_quantity">initial quantity</div>#}
        <div class="chart-data-header chart-data-per_use_cost right-align" data-field="per_use_cost">per use cost</div>
    </div>
</div>
<div>
    <table id="chart_data_table">
    <thead>
    <tr>
        <th>Delivered Date</th>
        <th>Source / Item / Size</th>
        <th>Pack Cost</th>
{#        <th>Initial Quantity</th>#}
        <th>Per Use Cost</th>
    </tr>
    </thead>
    <tbody id="chart_data_table_body">
    <tr id="table-row-template">
        <td class="" data-field="delivered_date">__delivered_date__</td>
        <td class="">
            <span data-field="source">__source__</span> / <span data-field="item_name">__item_name__</span> <span data-field="unit_size">__unit_size__</span>
        </td>
        <td class="" data-field="pack_cost">__pack_cost__</td>
{#        <td class="" data-field="initial_quantity">__initial_quantity__</td>#}
        <td class="" data-field="per_use_cost">__per_use_cost__</td>
    </tr>
    </tbody>
    </table>
</div>
{% endblock %}

{% block body_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
// let chart_data_url = "{% url "inventory:api_sourceitem_chartdata" report_name="chocmilk" %}?format=json";
let global_chart = null;

function chart_data_received(data){
    populate_chart_div_table(data);
    $("#chart-title").text(`Per Use Cost for: ${data['item_names']}`);
    let point_background_colors = [];
    // get reference to the canvas element.
    const ctx = document.getElementById('myChart');
    global_chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: data['delivered_date'],
            datasets: [{
                label: 'Per Use Cost',
                data: data['per_use_cost'],
                borderWidth: 3,
                pointRadius: 7,
                pointHoverRadius: 10,
                pointBackgroundColor: point_background_colors,
                barBackgroundColor: point_background_colors,
                pointBorderColor: point_background_colors,
                barBorderColor: point_background_colors,
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        afterBody: function (context) {
                            const lines = [];
                            lines.push(`Source: ${data["source"][context[0].dataIndex]}`);
                            lines.push(`Item: ${data["item_name"][context[0].dataIndex]}`);
                            lines.push(`Unit size: ${data["unit_size"][context[0].dataIndex]}`);
                            lines.push(`Pack cost: $${(data["pack_cost"][context[0].dataIndex]).toFixed(2)}`);
                            lines.push(`Quantity: ${data["initial_quantity"][context[0].dataIndex]}`);
                            return lines
                        },
                        label: function (context) {
                            return `$${context.formattedValue}`;
                        }

                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
    for (let i = 0; i < global_chart.data.datasets[0].data.length; i++) {
        if (data["source"][i] === "sysco") {
            point_background_colors.push("#90cd8a");
        } else if (data["source"][i] === "rsm") {
            point_background_colors.push("#f58368");
        } else if (data["source"][i] === "US Foods") {
            point_background_colors.push("#6883f5");
        } else {
            point_background_colors.push("#000");
        }
    }
    global_chart.update();
}

function empty_chart_div_table(chart_div_table) {
    chart_div_table.find('div.chart-data-row').each(function() {
        let e = $(this);
        if (!(e.hasClass("chart-data-row-header") || e.hasClass("chart-data-row-template"))) {
            e.remove();
        }
    });
}

function empty_chart_table(chart_table_body) {
    chart_table_body.find('tr').each(function() {
        let e = $(this);
        if (e.attr('id') !== "table-row-template") {
            e.remove();
        }
    });
}

function get_chart_data() {
    let report_url = $("#canned-report-select").find(":selected").attr('data-report-url');
    if (report_url === "") {
        return;
    }
    // $("myChart").html("");
    if (global_chart !== null) {
        global_chart.destroy();
    }
    let jqxhr = $.ajax({
        url: report_url,
        type: "get",
        // data: values_to_send,
        // traditional: true
    })
    .done(chart_data_received)
    .fail(function() {
        console.log("ajax fail");
    })
    .always(function() {
    });
}

function new_chart_div_table_row(data){
    let item_clone = $("#row-template").clone();
    item_clone.attr('id', null);
    {#item_clone.attr("data-id", data['id']);#}
    item_clone.find('[data-field]').each(function() {
        let e = $(this);
        let key = e.data('field');
        if (key === undefined) {
            // The template should have names on each div so this is an error.  Probably shouldn't hide it.
            return true;
        }
        e.html(`${data[key]}&nbsp;`);
    });
    item_clone.removeClass("chart-data-row-template");
    return item_clone;
}

function new_chart_table_row(data){
    let item_clone = $("#table-row-template").clone();
    item_clone.attr('id', null);
    {#item_clone.attr("data-id", data['id']);#}
    item_clone.find('[data-field]').each(function() {
        let e = $(this);
        let key = e.data('field');
        if (key === undefined) {
            // The template should have names on each div so this is an error.  Probably shouldn't hide it.
            return true;
        }
        e.html(`${data[key]}&nbsp;`);
    });
    {#item_clone.removeClass("chart-data-row-template");#}
    return item_clone;
}

function populate_chart_div_table(data) {
    let count = 0;
    let chart_div_table = $("#chart_data");
    let chart_table_body = $("#chart_data_table_body");
    empty_chart_div_table(chart_div_table);
    empty_chart_table(chart_table_body);

    for (i in data['delivered_date']) {
        // Convert each item from parallel array(used by chart) to single dict.
        let tmp = {
            "delivered_date": data['delivered_date'][i],
            "source": data['source'][i],
            "item_name": data['item_name'][i],
            "unit_size": data['unit_size'][i],
            "pack_cost": (Math.round(data['pack_cost'][i] * 100) / 100).toFixed(2),
            "initial_quantity": data['initial_quantity'][i],
            "per_use_cost": (Math.round(data['per_use_cost'][i] * 10000) / 10000).toFixed(4)
        }
        chart_div_table.append(new_chart_div_table_row(tmp));
        chart_table_body.append(new_chart_table_row(tmp));
        count++;
    }
    console.log(`got ${count} items.`);
}
function beforePrintHandler () {
    // for (let id in Chart.instances) {
    //     Chart.instances[id].resize();
    // }
    console.log("Resizing chart.");
    global_chart.resize();
}
$( document ).ready(function() {
    // get_chart_data();
    $("#canned-report-select").on("change", get_chart_data);
    // $.on("beforeprint", beforePrintHandler);
    window.addEventListener("beforeprint", beforePrintHandler);

});
function print_chart() {

    var canvas = document.getElementById("myChart");
    var win = window.open();
    win.document.write($("#chart-title").text());
    win.document.write("<br><img src='" + canvas.toDataURL() + "'/>");
    // setTimeout(win.print, 50);

    // win.location.reload();
}
</script>
{% endblock %}