{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load dict_get %}

{% block title %}Source Items Orders{% endblock %}

{% block styles %}
<style>
.category-row td {
    background-color: lightgrey;
}
</style>
{% endblock %}

{% block content %}
    <div>
    Source: {{ order_items.0.source }}
    </div>
    <div>
    Delivered Date: {{ order_items.0.delivered_date|date:"M j, Y" }}
    </div>
    <div>
    Order Number: {{ order_items.0.order_number }}
    </div>
    <div>
    Total Cost: ${{ order.0.sum_extended_cost|floatformat:2|intcomma }}
    </div>
<table id="result-table">
<thead>
<tr>
    <th class="right-align">#</th>
    <th class="">Item</th>
    <th class="right-align">Pack Cost</th>
    <th class="right-align">Qty</th>
    <th class="right-align">Weight</th>
    <th class="right-align">Cost</th>
    <th class="">Notes</th>
</tr>
</thead>
<tbody>
    {% for order_item in order_items %}
        {% ifchanged order_item.source_category %}
            <tr class="category-row">
                <td colspan="5" class="border">
                    <span>{{ order_item.source_category }}</span>
                </td>
                <td class="border right-align dollar-cell">
                    <span>{{ order_category_totals|dict_get:order_item.source_category|floatformat:2|intcomma }}</span>
                </td>
                <td></td>
            </tr>
        {% endifchanged %}
        <tr class="order-item-row order-item-top" data-source-id="{{ order_item.source_id }}" data-item-code="{{ order_item.item_code }}" data-item-search-url="{% url "inventory:sourceitem_search" %}?source-id={{ order_item.source_id }}&item-code={{ order_item.item_code }}">
            <td class="order-item-link border right-align">{{ order_item.line_item_number|intcomma }}</td>
            <td class="order-item-link border">{{ order_item.verbose_name|default:order_item.cryptic_name }}</td>
            <td class="order-item-link border right-align dollar-cell">{{ order_item.pack_cost|floatformat:2|intcomma }}</td>
            <td class="order-item-link border right-align">{{ order_item.delivered_quantity|intcomma }}</td>
            <td class="order-item-link border right-align">{{ order_item.total_weight|default:""|floatformat:2|intcomma }}</td>
            <td class="order-item-link border right-align dollar-cell">{{ order_item.extended_cost|floatformat:2|intcomma }}</td>
            <td class="order-item-link border">{{ order_item.extra_notes }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
<div>
<a href="{% url "inventory:sourceitem_orders" %}">Order list</a>
</div>
{% endblock %}

{% block body_scripts %}
<script type="application/javascript">
$(".order-item-row").on("click", function() {
    let e = $(this);
    console.log(`source='${e.attr('data-source-id')}', item_code='${e.attr('data-item-code')}'`);
    window.location = e.attr('data-item-search-url');
});
</script>
{% endblock %}