{% extends 'base_with_navpanel.html' %}
{% load static %}

{% block title %}Incoming items dupes{% endblock %}

{% block styles %}
<style>
.item-list td,th {
    border: black solid 1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.group-header {
    background-color: lightgray;
}
</style>
{% endblock %}

{% block content %}

<h1>By name</h1>
<p>Dupes by name: {{ dupes_by_name_count }}</p>

<table id="dupes-by-name" class="item-list">
<thead>
    <tr>
        <th>source</th>
        <th>identifier</th>
        <th class="d-none">name</th>
        <th>better name</th>
        <th class="d-none">DNI</th>
        <th class="d-none">individual serving</th>
        <th class="d-none">discontinued</th>
        <th>pack quantity</th>
        <th>unit size</th>
        <th>comment</th>
    </tr>
</thead>
<tbody>
    {% for item_group, items in dupes_by_name.items %}
        <tr class="group-header"><td colspan="20">{{ item_group|default_if_none:"NONE" }}</td></tr>
        {% for item in items %}
            <tr data-id="{{ item.id }}">
                <td>{{ item.source.name }}</td>
                <td>{{ item.identifier }}</td>
                <td class="d-none">{{ item.name }}</td>
                <td>{{ item.better_name }}</td>
                <td class="d-none">{{ item.do_not_inventory }}</td>
                <td class="d-none">{{ item.individual_serving }}</td>
                <td class="d-none">{{ item.discontinued }}</td>
                <td>{{ item.pack_quantity }}</td>
                <td>{{ item.unit_size }}</td>
                <td>{{ item.comment }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>

<hr />
<h1>By identifier</h1>
<p>Dupes by identifier: {{ dupes_by_identifier_count }}</p>

<table id="dupes-by-identifier" class="item-list">
<thead>
    <tr>
        <th>source</th>
        <th class="d-none">identifier</th>
        <th>name</th>
        <th>better name</th>
        <th class="d-none">DNI</th>
        <th class="d-none">individual serving</th>
        <th class="d-none">discontinued</th>
        <th>pack quantity</th>
        <th>unit size</th>
        <th>comment</th>
    </tr>
</thead>
<tbody>
    {% for item_group, items in dupes_by_identifier.items %}
        <tr class="group-header"><td colspan="20">{{ item_group }}</td></tr>
        {% for item in items %}
            <tr data-id="{{ item.id }}">
                <td>{{ item.source.name }}</td>
                <td class="d-none">{{ item.identifier }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.better_name }}</td>
                <td class="d-none">{{ item.do_not_inventory }}</td>
                <td class="d-none">{{ item.individual_serving }}</td>
                <td class="d-none">{{ item.discontinued }}</td>
                <td>{{ item.pack_quantity }}</td>
                <td>{{ item.unit_size }}</td>
                <td>{{ item.comment }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>
{% endblock %}