{% extends "base_with_navpanel.html" %}
{% load humanize %}

{% block title %}Example Incoming Group Create{% endblock %}

{% block styles %}
<style type="text/css">
    .main-form {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .main-form input {
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
    {{ form.non_form_errors }}

    {% include "incoming/forms/example_incoming_item_group.html" %}

    <div class="row row-cols-3">
        <div class="col w-25 text-center"><button class="btn btn-primary w-75" type="submit">Create</button></div>
        <div class="col w-25 text-center"><a class="btn btn-secondary w-75" href="{% url "incoming_groups" %}" role="button">Cancel</a></div>
    </div>
</form>
{% endblock %}
