{% extends 'base.html' %}
{% load static %}

{% block title %}Editing items for {{ incomingitemgroup.descriptor }}{% endblock %}

{% block styles %}
    <style type="text/css">
    body
    {
        padding-bottom: 50em;
    }
    .dropdown-menu {
        max-height: 200px;
        width: 45em;
        overflow-y: auto;
    }
    .item-name-field {
        width: 50em;
    }
    .main-form {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .main-form input {
        width: 100%;
    }
    #item-list {
        width: 100%;
        {#overflow: scroll;#}
    }
    #formset-table {

    }
    #formset-table th {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        vertical-align: bottom;
    }
    #formset-table th {
        border-left: black solid 1px;
    }
    #formset-table th:first-of-type {
        border-left: none;
    }
    #formset-table td {
        border-top: black solid 1px;
    }
    #formset-table td * {
    }

    .delete_col {
        width: 2em;
        text-align: center;
    }
    .delete_col * {
        width: 2em;
        text-align: center;
    }

    .line_item_position_col {
        width: 2em;
        text-align: right;
    }
    .line_item_position_col * {
        width: 100%;
        text-align: right;
    }

    .ordered_quantity_col {
        width: 5em;
        text-align: right;
    }
    .ordered_quantity_col * {
        width: 100%;
        text-align: right;
    }

    .delivered_quantity_col {
        width: 5em;
        text-align: right;
    }
    .delivered_quantity_col * {
        width: 100%;
        text-align: right;
    }

    .item_col {
        width: 20em;
        text-align: left;
    }
    .item_col input {
        width: 100%;
        text-align: left;
    }

    .total_weight_col {
        width: 5em;
        text-align: right;
    }
    .total_weight_col * {
        width: 100%;
        text-align: right;
    }

    .pack_price_col {
        width: 5em;
        text-align: right;
    }
    .pack_price_col * {
        width: 100%;
        text-align: right;
    }

    .pack_tax_col {
        width: 5em;
        text-align: right;
    }
    .pack_tax_col * {
        width: 100%;
        text-align: right;
    }

    .comment_col {
        width: 20em;
        text-align: left;
    }
    .comment_col * {
        width: 100%;
        text-align: left;
    }
    </style>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <div id="hidden-fields-main">
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
    </div>

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    {% include "incoming/forms/example_incoming_item_group.html" %}

    <h3 style="margin-left: 1em;">Update Items</h3>
    {{ itemformset.management_form }}
    <div class="container" id="item-list">
    <table id="formset-table">
        <thead>
            <tr>
                <th class="delete_col">{{ itemformset.empty_form.DELETE.label }}</th>
                <th class="line_item_position_col">{{ itemformset.empty_form.line_item_position.label }}</th>
                <th class="ordered_quantity_col">{{ itemformset.empty_form.ordered_quantity.label }}</th>
                <th class="delivered_quantity_col">{{ itemformset.empty_form.delivered_quantity.label }}</th>
                <th class="item_col">{{ itemformset.empty_form.item.label }}</th>
                <th class="total_weight_col">{{ itemformset.empty_form.total_weight.label }}</th>
                <th class="pack_price_col">{{ itemformset.empty_form.pack_price.label }}</th>
                <th class="pack_tax_col">{{ itemformset.empty_form.pack_tax.label }}</th>
                <th class="comment_col">{{ itemformset.empty_form.comment.label }}</th>
            </tr>
        </thead>
        <tbody>
        <tr class='form-row' id='empty-row' style="display:none;">
            {{ itemformset.empty_form.as_table }}
        </tr>
    {% for item_form in itemformset.forms %}
        <tr>
            {{ item_form.as_table }}
        </tr>
    {% endfor %}
        </tbody>
    </table>

<div style="display: none;" name="template-container">
    <li id="dropdown-item-template">
        <a class='dropdown-item' data-id="nope">
        <div class="row row-cols-12">
            <div class="col-sm-2 border" name="pack_quantity">__pack_quantity__</div>
            <div class="col-sm-2 border" name="unit_size">__unit_size__</div>
            <div class="col-sm-2 border" name="identifier">__identifier__</div>
            <div class="col-lg-6 border" name="name">__name__</div>
        </div>
        </a>
    </li>
</div>
</div>
    <hr>
    <div class="row row-cols-3">
        <div class="col w-25 text-center"><button class="btn btn-primary w-75" type="submit">Submit</button></div>
        <div class="col w-25 text-center"><a class="btn btn-secondary w-75" href="{{ incomingitemgroup.get_absolute_url  }}" role="button">Cancel</a></div>
        <div class="col w-25 text-center"><a class='btn btn-info add-new-form w-75' href='#'>+ Add new item</a></div>
    </div>
  </form>

<pre id="jquery-example-2-log">
hello
</pre>
{% endblock content %}

{% block body_scripts %}
<script src="{% static 'add_new_form.js' %}"></script>
<script src="{% static 'autocomplete.js' %}"></script>
<script type="text/javascript">
$( document ).ready(function() {
    autocomplete_url = "{% url 'autocomplete' %}";
    after_add_focus_suffix = "-ordered_quantity";
})
</script>
{% endblock %}