{% extends 'base.html' %}
{% load static %}

{% block title %}Editing items for {{ incomingitemgroup.descriptor }}{% endblock %}

{% block styles %}
    <style type="text/css">
    .dropdown-menu {
        max-height: 200px;
        width: 45em;
        overflow-y: auto;
    }
    .item-name-field {
        width: 50em;
    }
    </style>
{% endblock %}

{% block head_scripts %}
    <script src="{% static '3rdparty/jquery-3.6.0.min.js' %}"></script>
    <link href="{% static '3rdparty/bootstrap-5.1.3-dist/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static '3rdparty/bootstrap-5.1.3-dist/js/bootstrap.bundle.js' %}"></script>
{% endblock %}
{# id_source #}
{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    <div id="hidden-fields-main">
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
    </div>

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    {{ form.as_p }}

    <h3>Update Items</h3>
    {{ itemformset.management_form }}
    <div class="container" id="item-list">
    {% for item_form in itemformset.forms %}
      <hr>
      <h5>
        {% if item_form.instance.id %}
          Item: {{ item_form.instance.item }}
        {% else %}
          {% if form.forms|length > 1 %}
            Add another book
          {% else %}
            Add a book
          {% endif %}
        {% endif %}
      </h5>
        <div id="hidden-fields-{{ item_form.instance.id }}">
      {% for hidden_field in item_form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
        </div>
      <table>
        {{ item_form.as_table }}
      </table>
    {% endfor %}

<div style="display: none;" name="template-container">
    <li id="dropdown-item-template">
        <a class='dropdown-item' data-id="nope">
        <div class="row row-cols-12">
            <div class="col-sm-2 border" name="pack_quantity">__pack_quantity__</div>
            <div class="col-sm-2 border" name="unit_size">__unit_size__</div>
            <div class="col-sm-2 border" name="identifier">__identifier__</div>
            <div class="col-lg-6 border" name="name">__name__</div>
        </div>
        </a>
    </li>
</div>
    </div>
    <div class='form-row' id='empty-row' style="display:none;">
      <hr>
      <table>
        {{ form.empty_form.as_table }}
      </table>
    </div>
    <hr>
    <p>
        <button type="submit">Submit</button>
        <a href="{{ incomingitemgroup.get_absolute_url  }}" role="button" class="btn btn-secondary w-100">Cancel</a>
        <a class='btn btn-link add-new-form' href='#'>+ Add new form</a>
    </p>
  </form>

<script src="{% static '3rdparty/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'add_new_form.js' %}"></script>

{% endblock content %}
