{% extends "base.html" %}
{% load humanize %}

{% block title %}Incoming Group Item Lookup{% endblock %}

{% block styles %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
The lookup page.
<div class="container-fluid">
    <form method="post">{% csrf_token %}
        {{ form.management_form }}
        {{ form.non_form_errors }}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}
        <div class="row row-cols-4">
            <div class="col">
                <p>
                {{ form.name.label_tag }}
                </p>
                {{ form.name.errors }}
                {{ form.name }}
            </div>
            <div class="col">
                <p>
                {{ form.unit_size.label_tag }}
                </p>
                {{ form.unit_size.errors }}
                {{ form.unit_size }}
            </div>
            <div class="col">
                <p>
                {{ form.source.label_tag }}
                </p>
                {{ form.source.errors }}
                {{ form.source }}
            </div>
            <div class="col">
                <p>
                {{ form.pack_quantity.label_tag }}
                </p>
                {{ form.pack_quantity.errors }}
                {{ form.pack_quantity }}
            </div>
        </div>
        <div class="row row-cols-3">
            <div class="col w-25 text-center"><button class="btn btn-primary w-75" type="submit">Filter</button></div>
            <div class="col w-25 text-center"><a class="btn btn-secondary w-75" href="{% url 'incoming_group_item_lookup' %}" role="button">Reset filter</a></div>
        </div>
    </form>
</div>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
</script>
{% endblock %}