{% extends "base_with_navpanel.html" %}
{% load humanize %}

{% block title %}Incoming Group List{% endblock %}

{% block styles %}
<style type="text/css">
.table-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.table-header tr td {
    /*border: black solid 1px;*/
}
.table-data tr {
    cursor: pointer;
}
.table-data tr:nth-child(odd) {
    background-color: #f0f0c0;
}
.table-data tr:nth-child(even) {
    background-color: white;
}
.table-data tr td {
    /*border: black solid 1px;*/
    background-color: inherit;
    vertical-align: top;
}
.table-data tr td p {
    margin: 0;
}
.text-col {
    width: 20em;
}
.short-text-col {
    width: 5em;
}
.date-col {
    width: 8em;
}
.checkbox-col {
    width: 2em;
    text-align: center;
}
.col {
    text-align: right;
    width: 7em;
}

</style>
{% endblock %}

{% block content %}
<a href="{% url "ex_create" %}">Add group</a>

<table class="table-header">
<tr>
    <td class="checkbox-col"></td>
    <td class="short-text-col">Converted?</td>
    <td class="short-text-col">Source</td>
    <td class="date-col">Action Date</td>
    <td class="text-col">Descriptor/Comment</td>
    <td class="col">Items</td>
    <td class="col">Total Packs</td>
    <td class="col">Total Price</td>
</tr>
</table>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Convert selected to Change">
    <table class="table-data" id="table-data">
    {{ form.as_table }}
    </table>
</form>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
function generete_detail_url(id){
    // Needed to supply the argument with javascript but wanted to use the url reverse lookup.
    // Found this as a suggestion online - using a dummy argument and replacing with javascript.
    return "{% url "incoming_group" pk="00000000-0000-0000-0000-000000000000" %}".replace("00000000-0000-0000-0000-000000000000", id);
}

// Get the table that contains all we want to work with.
var el = document.getElementById('table-data');

// Link the converted label column to change the checkbox.
var converted_tds = el.querySelectorAll('[data-checkbox-id]');
for (var ctd_i=0, ctd_len=converted_tds.length; ctd_i<ctd_len; ctd_i++) {
    converted_tds[ctd_i].onclick = function() {
        var cb = document.getElementById(this.attributes["data-checkbox-id"].value);
        cb.checked = !cb.checked;
    }
}

// Link all of the other cells in a row to take the user to the detail page.
var link_tds = el.querySelectorAll('[data-link-to-detail]');
for (var ltd_i=0, ltd_len=link_tds.length; ltd_i<ltd_len; ltd_i++) {
    link_tds[ltd_i].onclick = function() {
        var detail_id = this.attributes["data-link-to-detail"].value;
        window.location = generete_detail_url(detail_id);
    }
}
</script>
{% endblock %}