{% extends "base.html" %}
{% load humanize %}

{% block title %}Incoming Group List{% endblock %}

{% block styles %}
    <style type="text/css">
    table {
        border: solid 1px black;
    }
    table tbody tr td {
        border-top: solid 1px black;
    }
    </style>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
   <table>
<tr>
    <td></td>
    <td>Converted?</td>
    <td>Source</td>
    <td>Action Date</td>
    <td>Total Cost</td>
    <td>Total Items</td>
    <td>Total Pack Quantity</td>
    <td>Descriptor</td>
</tr>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>

{% endblock %}