{% extends "base_with_navpanel.html" %}
{% load humanize %}

{% block title %}Incoming Group List{% endblock %}

{% block styles %}
    <style type="text/css">
    table {
        border: solid 1px black;
    }
    table tbody tr td {
        border-top: solid 1px black;
    }
    </style>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Submit">
    <table>
    <tr>
        <td></td>
        <td>Converted?</td>
        <td>Source</td>
        <td>Action Date</td>
        <td>Total Cost</td>
        <td>Total Items</td>
        <td>Total Pack Quantity</td>
        <td>Descriptor</td>
    </tr>
    {{ form.as_table }}
    {% for iig in converted %}
        <tr>
            <td></td>
            <td><a href="{% url "incoming_group" iig.id %}">{{ iig.converted_state }}</a></td>
            <td>{{ iig.source_name }}</td>
            <td>{{ iig.action_date }}</td>
            <td>{{ iig.total_price }}</td>
            <td>{{ iig.total_items }}</td>
            <td>{{ iig.total_packs }}</td>
            <td>{{ iig.descriptor }}</td>
        </tr>
    {% endfor %}
    </table>
</form>

{% endblock %}