{% extends 'base_with_navpanel.html' %}
{% load static %}

{% block title %}Incoming items missing common items{% endblock %}

{% block styles %}
<style>
#item-list td {
    border: black solid 1px;
}
</style>
{% endblock %}

{% block content %}
<table id="item-list">
<thead>
    <tr>
        <th>source</th>
        <th>identifier</th>
        <th>name</th>
        <th>better name</th>
        <th class="d-none">DNI</th>
        <th class="d-none">individual serving</th>
        <th class="d-none">discontinued</th>
        <th>pack quantity</th>
        <th>unit size</th>
        <th>comment</th>
    </tr>
</thead>
<tbody>
    {% for item in missing_common_item %}
    <tr>
        <td>{{ item.source.name }}</td>
        <td>{{ item.identifier }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.better_name }}</td>
        <td class="d-none">{{ item.do_not_inventory }}</td>
        <td class="d-none">{{ item.individual_serving }}</td>
        <td class="d-none">{{ item.discontinued }}</td>
        <td>{{ item.pack_quantity }}</td>
        <td>{{ item.unit_size }}</td>
        <td>{{ item.comment }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}