.dollar_container {
    width: 100%;
    text-align: left;
    background: inherit;
}
.dollar_line{
    border-bottom: 1px dotted black;
    position: relative;
    height: 16px;
    background: inherit;
}
.dollar_line span{
    display: inline-block;
    position: relative;
    background: inherit;
    bottom: -2px;
    height: 100%;
    padding: 0 5px;
}
.dollar_line .dollar_content{
    position: absolute;
    right: 0;
}
