{% extends "base.html" %}
{% load static %}

{% block title %}Recipe : {{ recipe.name }}{% endblock %}

{% block styles %}
<style href="{% static "css/font-awesome.css" %}"></style>
<style>
.pinned_comment {

}
</style>
{% endblock %}

{% block content %}
<div>Name: {{ recipe.name }}</div>
<div>Source: {{ recipe.source }}</div>
<div>Description: {{ recipe.description }}</div>
<div>Reason to not make: {{ recipe.reason_to_not_make }}</div>
<div>Acceptance Rating: {{ recipe.star_acceptance }}</div>
<div>Effort Rating: {{ recipe.star_effort }}</div>
<div>Common Multipliers: {{ recipe.common_multipliers }}</div>
<div>
    <ul>
    {% for step in recipe.steps.all %}
        <li class="recipe_step">{{ step.step_number }} {{ step.text }}</li>
    {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url "recipe:recipe_step_update" pk=recipe.pk %}">Add/Remove Steps</a>
</div>
<div>
    <ul>
    {% for comment in recipe.pinned_comments %}
        <li class="pinned_comment"><span class="fa fa-thumb-tack"></span> {{ comment.comment }}</li>
    {% endfor %}
    {% for comment in recipe.unpinned_comments %}
        <li class="comment">{{ comment.comment }}</li>
    {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url "recipe:recipe_comment_update" pk=recipe.pk %}">Add/Remove Comments</a>
</div>
<div>
    <a class="btn btn-secondary" href="{% url "recipe:recipe_update" pk=recipe.id %}">Edit Recipe</a>
</div>
<div>
    <a class="btn btn-danger" href="{% url "recipe:recipe_list" %}">Back to list</a>
</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}