{% extends "base.html" %}
{% load static %}

{% block title %}Recipe : {{ recipe.name }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>Name: {{ recipe.name }}</div>
<div>Source: {{ recipe.source }}</div>
<div>Description: {{ recipe.description }}</div>
<div>Reason to not make: {{ recipe.reason_to_not_make }}</div>
<div>Acceptance Rating: {{ recipe.star_acceptance }}</div>
<div>Effort Rating: {{ recipe.star_effort }}</div>
<div>Common Multipliers: {{ recipe.common_multipliers }}</div>

<div>
    <a href="{% url "recipe:recipe_update" pk=recipe.id %}">Edit Recipe</a>
</div>
<div>
    <a href="{% url "recipe:recipe_list" %}">Back to list</a>
</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}