{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<style type="text/css">
#sources {
    border: yellow solid 3px;
    width: max-content;
}
#locations {
    border: green solid 3px;
    width: max-content;
}
#changes_by_month {
    border: blue solid 3px;
    width: 50%;
}
.summary table th {
    border-bottom: black solid 3px;
}
.summary table td {
    border-bottom: grey solid 1px;
    padding-left: 0.5em;
}
.number {
    text-align: right;
}

.dollar_container {
    width: 100%;
}
.dollar_line{
    border-bottom:1px dotted black;
    position:relative;
    height:16px;
}
.dollar_line span{
    display:inline-block;
    position:relative;
    background:white;
    bottom:-2px;
    height:100%;
    padding:0 5px;
}
.dollar_line .dollar_content{
    position:absolute;
    right:0;
}
</style>
{% endblock %}

{% block content %}
{% include "dashboard/card_source.html" %}
{% include "dashboard/card_location.html" %}
{% include "dashboard/card_changes_by_month.html" %}
{% endblock %}
