<tr><td>file: templates/forms/table.html</td></tr>
{% if errors %}
  <tr>
    <td colspan="2">
      {{ errors }}
      {% if not fields %}
        {% for field in hidden_fields %}{{ field }}{% endfor %}
      {% endif %}
    </td>
  </tr>
{% endif %}
<tr>
{% for field, errors in fields %}
  <td{% with classes=field.css_classes %}{% if classes %} class="{{ classes }}"{% endif %}{% endwith %}>
      {{ errors }}
      {{ field }}
      {% if field.help_text %}
        <br>
        <span class="helptext">{{ field.help_text }}</span>
      {% endif %}
      {% if forloop.last %}
        {% for field in hidden_fields %}{{ field }}{% endfor %}
      {% endif %}
    </td>
  </td>
{% empty %}
    <td>No fields</td>
{% endfor %}
</tr>
{% if not fields and not errors %}
    <p>not fields and not errors</p>
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
