{% extends "base.html" %}
{% load static %}

{% block title %}Autocomplete Test 1{% endblock %}

{% block styles %}
    <style type="text/css">
    .dropdown-menu {
        max-height: 200px;
        width: 45em;
        overflow-y: auto;
    }
    #jquery-example-2-text {
        width: 50em;
    }
    </style>
{% endblock %}

{% block content %}
<h2>jquery events and timer</h2>

<p>
    Since an invoice/receipt can only be from one source, all of the items must be from that source.  Pick the source
to use for the autocompletes.
</p>
<select id="source">
{% for source in sources %}
    <option value="{{ source.id }}">{{ source.name }}</option>
{% endfor %}
</select>
<hr />
<div class="container" id="item-list">

<div style="display: none;" name="template-container">
    <li id="dropdown-item-template">
        <a class='dropdown-item' data-id="nope">
        <div class="row row-cols-12">
            <div class="col-sm-2 border" name="pack_quantity">__pack_quantity__</div>
            <div class="col-sm-2 border" name="unit_size">__unit_size__</div>
            <div class="col-sm-2 border" name="identifier">__identifier__</div>
            <div class="col-lg-6 border" name="name">__name__</div>
        </div>
        </a>
    </li>
</div>

<div id="jquery-example-2-controls-1">
    <div class="dropdown" id="dropdown-1">
        <input id="jquery-example-2-text-1" type="text" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="hello" />
        <ul class="dropdown-menu shadow-lg" aria-labelledby="jquery-example-2-text" id="dropdown-menu-1">
        </ul>
    </div>
</div>

<div id="jquery-example-2-controls-2">
    <div class="dropdown" id="dropdown-2">
        <input id="jquery-example-2-text-2" type="text" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="hello" />
        <ul class="dropdown-menu shadow-lg" aria-labelledby="jquery-example-2-text" id="dropdown-menu-2">
        </ul>
    </div>
</div>
</div>

<hr />
<button id="jquery-example-2-btn" type="button" class="btn btn-secondary" >Clear log</button>
<pre id="jquery-example-2-log">
</pre>

<hr />
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{% static "js/autocomplete.js" %}">
</script>
<script type="text/javascript">
$( document ).ready(function() {
    autocomplete_url = "{% url 'autocomplete' %}";
})
</script>
{% endblock %}